<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>ProjectsServlet</servlet-name>
        <servlet-class>org.example.constructionxpert.ProjectsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProjectsServlet</servlet-name>
        <url-pattern>/ProjectsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteProject</servlet-name>
        <servlet-class>org.example.constructionxpert.DeleteProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProject</servlet-name>
        <url-pattern>/DeleteProject</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>EditProject</servlet-name>
        <servlet-class>org.example.constructionxpert.EditProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProject</servlet-name>
        <url-pattern>/EditProject</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddProjectServlet</servlet-name>
        <servlet-class>org.example.constructionxpert.AddProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProjectServlet</servlet-name>
        <url-pattern>/AddProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddTaskServlet</servlet-name>
        <servlet-class>org.example.constructionxpert.AddTaskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTaskServlet</servlet-name>
        <url-pattern>/AddTaskServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowTasksServlet</servlet-name>
        <servlet-class>org.example.constructionxpert.ShowTasksServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowTasksServlet</servlet-name>
        <url-pattern>/ShowTasksServlet</url-pattern>
    </servlet-mapping>



</web-app>